#issuem-leaky-paywall-articles-remaining-nag {
	display: block;
	width: 320px;
	height: 225px;
	bottom: 25px;
	overflow: hidden;
	position: fixed;
	left: -325px;
	z-index: 4815162342;
	background-color: #fff;
	border-top: solid #000 thin;
	border-right: solid #000 thin;
	border-bottom: solid #000 thin;
}

#issuem-leaky-paywall-articles-zero-remaining-nag {
	display: block;
	width: 320px;
	height: 225px;
	overflow: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -100px;
	z-index: 4815162342;
	background-color: #fff;
	border: solid #000 thin;
}

#issuem-leaky-paywall-articles-remaining-nag #issuem-leaky-paywall-articles-remaining-close,
#issuem-leaky-paywall-articles-zero-remaining-nag #issuem-leaky-paywall-articles-remaining-close {
	display: block;
	width: 100%;
	height: 20px;
	position: relative;
	float: right;
	color: #000;
	text-align: right;
	padding-top: 5px;
	padding-right: 5px;
}

#issuem-leaky-paywall-articles-remaining-nag #issuem-leaky-paywall-articles-remaining-close {
	cursor: pointer;
}

#issuem-leaky-paywall-articles-remaining-nag #issuem-leaky-paywall-articles-remaining,
#issuem-leaky-paywall-articles-zero-remaining-nag #issuem-leaky-paywall-articles-remaining {
	display: table;
	width: auto;
	min-width: 225px;
	max-width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	height: 150px;
}

#issuem-leaky-paywall-articles-remaining-nag #issuem-leaky-paywall-articles-remaining-count,
#issuem-leaky-paywall-articles-zero-remaining-nag #issuem-leaky-paywall-articles-remaining-count {
	position: relative;
	float: left;
	color: #bbb;
	font-size: 10em;
}

#issuem-leaky-paywall-articles-remaining-nag #issuem-leaky-paywall-articles-remaining-text,
#issuem-leaky-paywall-articles-zero-remaining-nag #issuem-leaky-paywall-articles-remaining-text {
	width: 150px;
	position: relative;
	float: left; 
	color: #000;
	font-size: 2em;
	padding-top: 15px;
}

#issuem-leaky-paywall-articles-remaining-nag #issuem-leaky-paywall-articles-remaining-subscribe-link,
#issuem-leaky-paywall-articles-zero-remaining-nag #issuem-leaky-paywall-articles-remaining-subscribe-link {
	clear: both;
	display: block;
	width: 100%;
	height: 25px;
	bottom: 0px;
	position: relative;
	text-align: center;
	line-height: 1.6em;
	font-weight: bold;
	text-decoration: none;
}

#issuem-leaky-paywall-articles-remaining-nag #issuem-leaky-paywall-articles-remaining-subscribe-link,
#issuem-leaky-paywall-articles-zero-remaining-nag #issuem-leaky-paywall-articles-remaining-subscribe-link {
	color: #0011cc;
	text-decoration: none;	
}

#issuem-leaky-paywall-articles-remaining-nag #issuem-leaky-paywall-articles-remaining-login-link,
#issuem-leaky-paywall-articles-zero-remaining-nag #issuem-leaky-paywall-articles-remaining-login-link {
	clear: both;
	display: block;
	width: 100%;
	height: 25px;
	bottom: 0px;
	position: relative;
	background-color: #000;
	text-align: center;
	line-height: 1.6em;
}

#issuem-leaky-paywall-articles-remaining-nag #issuem-leaky-paywall-articles-remaining-login-link a,
#issuem-leaky-paywall-articles-zero-remaining-nag #issuem-leaky-paywall-articles-remaining-login-link a {
	color: #44ccff;
	text-decoration: none;
}
